<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error404.jsp</location>
    </error-page>
    <!--<error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error500.jsp</location>
    </error-page>-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.epam.store.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>XSSProtectFilter</filter-name>
        <filter-class>by.epam.store.controller.filter.XSSProtectFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DoublePostingFilter</filter-name>
        <filter-class>by.epam.store.controller.filter.DoublePostingPreventingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessCommandAndJspFilter</filter-name>
        <filter-class>by.epam.store.controller.filter.AccessCommandAndJspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessAsyncCommandFilter</filter-name>
        <filter-class>by.epam.store.controller.filter.AccessAsyncCommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>XSSProtectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoublePostingFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessCommandAndJspFilter</filter-name>
        <url-pattern>/controller</url-pattern>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessAsyncCommandFilter</filter-name>
        <url-pattern>/async</url-pattern>
    </filter-mapping>
</web-app>